.page {
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  font-family: var(--font-jet-brains-mono);
}

.section {
  padding: 2rem 2rem 0;
}

.image {
  line-height: 0;
  text-align: center;
}

.imageMobile {
  max-width: 428px;
  margin: 0 auto;
}

.imageDesktop {
  display: none;
  position: absolute;
  right: -7%;
  width: 60%;
  bottom: 0;
}

.list {
  list-style: none;
}

.listElement {
  margin-bottom: .5rem;
}

.br {
  margin-bottom: 1.5rem;
}

.footer {
  background-color: white;
  padding: 2rem;
}

.icons {
  margin-right: 2rem;
}

.iconList {
  margin-top: 2rem;
}

.dribble {
  width: 35px;
  height: 35px;
}

.linkedin {
  width: 33px;
  height: 33px;
}

.github {
  width: 37px;
  height: 37px;
}

@media (min-width: 64rem) {
  .footer {
    background-color: transparent;
  }

  .imageMobile {
    display: none;
  }

  .imageDesktop {
    display: block;
  }

  .icons {
    margin-right: 4rem;
  }

  .iconList {
    margin-top: 4rem;
  }

  .dribble {
    width: 48px;
    height: 48px;
  }
  
  .linkedin {
    width: 45px;
    height: 45px;
  }
  
  .github {
    width: 53px;
    height: 53px;
  }
}